
<!-- BRANDS -->
<section class="py-6 py-md-8 border-bottom bg-gray-300">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/HTML5.svg') }}" alt="">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/css3.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/bootstrap-4.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/php-1.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/symfony.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/github-icon-1.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
                    <img class="card-img" src="{{ asset('build/images/logo/gitlab.svg') }}" alt="">
                </div>
            </div>


        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

