<section class="">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #FF5A5F;">
                    <img class="card-img" src="{{ asset('build/images/logo/HTML5.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #0081C9;">
                    <img class="card-img" src="{{ asset('build/images/logo/css3.svg') }}" alt="">
                </div>

            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #DA5988;">
                    <img class="card-img" src="{{ asset('build/images/logo/bootstrap-4.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #3F5D87;">
                    <img class="card-img" src="{{ asset('build/images/logo/php-1.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #B81D24;">
                    <img class="card-img" src="{{ asset('build/images/logo/symfony.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #CB2027;">
                    <img class="card-img" src="{{ asset('build/images/logo/github-icon-1.svg') }}" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-1 mb-4 mb-md-0">
                <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: #6772E5;">
                    <img class="card-img" src="{{ asset('build/images/logo/gitlab.svg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

