 <div class="container p-2 text-white" id="contact">

    <!-- FORM -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14 col-lg-8 mx-auto">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Heading -->
                    <h1 class="text-center text-warning fw-bold"># Contact</h1>


                </div>
            </div> <!-- / .row -->
            <div class="row justify-content-center">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(formContact) }}
                </div>
                <div class="col-12 col-md-12 col-lg-10">

                    <!-- Form -->
                    {{ form_start(formContact) }}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-5">

                                    <!-- Label -->
                                    <label class="form-label" for="contactName">
                                        Nom Complet
                                    </label>

                                    <!-- Input -->
                                    {{ form_widget(formContact.Name) }}

                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-5">

                                    <!-- Label -->
                                    <label class="form-label" for="contactEmail">
                                        Email
                                    </label>

                                    <!-- Input -->
                                    {{ form_widget(formContact.email) }}

                                </div>
                            </div>
                        </div> <!-- / .row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-7 mb-md-9">

                                    <!-- Label -->
                                    <label class="form-label" for="contactMessage">
                                        Votre message
                                    </label>

                                    <!-- Input -->
                                    {{ form_widget(formContact.Message) }}

                                </div>
                            </div>
                        </div> <!-- / .row -->
                        <div class="row justify-content-center">
                            <div class="col-auto">

                                <!-- Submit -->
                                {{ form_widget(formContact.Envoyer) }}

                            </div>
                        </div> <!-- / .row -->


                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

</div>


 {{ form_row(formContact._token) }}


{{ form_end(formContact) }}
