{# <div class="container mt-10 shadow-lg p-4 overlay overlay-white overlay-70" id="about">
<div
			class="section-title">
		<!-- Headin -->
		<h1 class="display-4 fw-bold text-center">Mes Projets</h1>
		<p class="lead text-secondary mb-4 text-center">
			Voici la liste des projets que j'ai eu à valider durant ma formation chez OCS.
		</p>
	</div>


	<!-- CONTENT -->
	<section class="py-8 py-md-5">
		<div class="container">
			<div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>
				{% for project in projects %}
				<div
						class="col-12 col-md-4 product mb-4">

					<!-- Card -->
					<a
							class="card shadow-light-lg lift lift-lg" href="{{ path('project_show', { 'slug': project.slug }) }}">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('project') }}" alt="{{ project.title }}">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
									class="card-body bg-white">

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">{{ project.title }}</h6>

								<!-- Heading -->
								<h5 class="mb-0">{{ project.description | striptags }}</h5>

							</div>
						</div>
					</a>

				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
#}
<div class="container mt-10 shadow-lg p-4 overlay overlay-white overlay-60 border-5" id="about">

	<!-- ARTICLES -->
	<section class="pt-7 pt-md-10">
		<div class="container">
			<div class="row align-items-center mb-4">
				<div class="col-12 col-md">

					<!-- Heading -->
					<h3 class="mb-0">
						Mes Projets
					</h3>

					<!-- Text -->
					<p class="mb-0 text-muted">
						Voici la liste des projets que j'ai eu à valider durant ma formation chez OCS.
					</p>

				</div>
			</div> <!-- / .row -->
			<div class="row">
				{% for project in projects %}
					<div class="col-12 col-md-6 col-lg-4 d-flex mb-5">


						<!-- Card -->
						<div class="card mb-6 mb-xl-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url({{ vich_uploader_asset(project, 'imageFile') | imagine_filter('project') }});">

							<!-- Body -->
							<a class="card-body mt-auto" href="{{ path('project_show', { 'slug': project.slug }) }}">

								<!-- Heading -->
								<h3 class="text-white">
									{{ project.title }}
								</h3>

								<!-- Text -->
								<p class="mb-0 text-white">
									{{ project.description | striptags }}
								</p>

							</a>

							<!-- Meta -->
							<a class="card-meta" href="#!">

								<!-- Divider -->
								<hr class="card-meta-divider border-white-20">

								<!-- Avatar -->
								<div class="avatar avatar-sm mr-2">
									<img src="../assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
								</div>

								<!-- Author -->
								<h6 class="text-uppercase text-white-80 mr-2 mb-0">
									Casey Fyfe
								</h6>

								<!-- Date -->
								<p class="h6 text-uppercase text-white-80 mb-0 ml-auto">
									<time datetime="2019-05-02">May 02</time>
								</p>

							</a>

						</div>

					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
